{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Registrar usuario</h3>
      </div>
      <div class="ibox-content">
        <form class="m-t login" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary block m-b">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block custom_js %}
<script>
  $("input").addClass("form-control");
</script>
{% endblock custom_js %}


</body>

</html>